.leftBrick, .rightBrick {
  width: 50%;
  height: 600px;
  color: white;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /*
   * justify-content: space-evenly;
   *
   * This was the bane of my existence. This single line of code
   * makes elements space evenly throughout the brick, and was the
   * default value of the flex container.
   * */
}

.leftBrick {
  float: left;
}

.rightBrick {
  float: right;
}

.brickTitle {
  font-size: 3em;
}

.brickLine {
  color: white;
  width: 20%;
}
