.leftBrick, .rightBrick {
  width: 50%;
  height: 900px;

  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /*
   * justify-content: space-evenly;
   *
   * This was the bane of my existence. This single line of code
   * makes elements space evenly throughout the brick, and was the
   * default value of the flex container. BEWARE.
   * */
}

.leftBrick {
  float: left;
}

.rightBrick {
  float: right;
}

.brickTitle {
  font-family: "Source Sans Pro";
  font-size: 3em;
}

.brickLine {
  color: white;
  width: 70%;
}

.brickInfo {
  font-family: "Roboto";
  padding-top: 0.5em;
  font-size: 1.5em;
  margin: 0 auto;
  width: 80%;
}
