.black {
    background-color: #111111;
}

.cyan {
    background-color:#c1eeea;
}
.orange {
    background-color: #fda33e;
}

.crimson {
    background-color: #f94f4f;
}
.emiliaPurple {
    background-color: #b666d0;
}

.yellow {
    background-color:#eeeb75;
}

.green {
    background-color: #43d358;
}
