#projectBackgroundPhoto {
    position:relative;
    background-image: url("../img/MyMountains.png");
    background-position: center;
    display:block;
    background-size: cover;
    background-repeat: none;
    width: 100%;
    height: 100vh;
    
    z-index: 0;
}

#fullProjectPhoto{
    background-size: cover;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}


.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}


.disable-blur {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

a {
    text-decoration:none;
}



.aboutProjects {
    position:relative;
    margin: 0 auto;
    font-family: 'Source Sans Pro', Helvetica;
    height: 80vh;
    border-bottom: 3px solid black;
}

.aboutProjects p {
    color: white;
    font-size: 20px;
}

.aboutProjects h3 {
    position: relative;
    font-size: 35px;
    margin: 2px;
    color: white;
} 