body {
    background-image: url("./images/BG_NoColor.png");
    background-size: 100px 100px;
    right:1px;
    color:white;
    font-size: 16px;
    /*loops image*/
}

.header-banner{
    width:85%;
    height:150px;
    background-color: #3a3a3a;
    position: relative;
    bottom: 30px;
    margin: 0px auto;
    min-width: 450px;
    border: 3px solid 3a3a3a;
    border-radius: 3px; 
}

.header-banner .header-image{
    background-image: url("./images/Rakki.png");
    background-size: cover;
    background-color: #3a3a3a;
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: 5%;
    top: 25px;
}

.header-image .header {
    position: relative;
    left: 150%;
    font-size: 187.5%;
    font-family: Helvetica;
    font-weight: bold;
    width: 300px;
    color: white;
}
.header-banner a {
    text-decoration: none;
}

.header .sub-header{
    position: relative;
    font-size: 50%;
    font-family: Helvetica;
    font-weight: bold;
    font-style: italic;
    color: lightgray;
    width: 200px;
    bottom: 25px;
}



.content {
    font-family: sans-serif;
    font-size: 100%;
    position: relative;
    display: block;
    width: 80%;
    height: 100%;
    background-color: gray;
    margin: 0px auto;
    padding : 3px 20px;
    border: 12px solid #3a3a3a;
    border-radius: 3px;
    bottom: 20px;
    min-width: 450px;
}

.tabs {
    position: relative;
    font-family: Helvetica;
    font-size: 200%;
    height: 80px;
    width: 845px;
    display: inline-block;
    background-color: #2e2e2e;
    
    left: 500px;
    bottom: 60px;
}

.tab {
    display: inline-block;
    position: relative;
    padding: 15px 25px;
    
    height:auto;
    width: 26%;
    top: 6px;
    text-align: center;
    margin-left: 3px;
    left: 2px;
    color: #3a3a3a;
    background-color: lightgray;
}

.tab:hover{
    color: lightgray;
    background-color: #3a3a3a;
}

a span {
    text-decoration: none;
}


@media only screen and (max-width: 1650px) {
    .tabs {
        bottom: 60px;
        left: 500px;
        width: 600px;
        font-size: 175%;
    }
    .tab {
        text-align: center;
        left: 2px;
        top: 10px;
        margin-left: 4px;
        width: 23%;
    }
}

@media screen and (max-width: 1380px) {
    .header-banner { height: 250px; }
    .tabs {
        left: 2%;
        width: 530px;
        top: 60px;
        font-size: 175%;

    }
    .tab {
        text-align: center;
        left: 3px;
        top: 10px;
        margin-left: 2px;
        width: 22%;
    }
}

@media screen and (max-width: 765px) {
    .header-banner { height: 250px; }
    .tabs {
        top: 70px;
        left: 5%;
        width: 400px;
        height: 57px;
        font-size: 100%;
    }
    .tab {
        text-align: center;
        width: 40%;
        left: 0px;
        top: 4px;
        margin-left: 6px;
        width: 18%;
    }
    .content {
        margin: 0px auto;
        font-size: 100%;
        width:85%;
        min-width: 400px;
    }
}


/*projects.html*/

.content h3 {
    position: relative;
    display: inline-block;

    padding: 25px 28%;


    background-color: #3a3a3a;
    text-align: center;
    font-size: 250%;
    border: 3px solid #3a3a3a;
    border-radius: 6px;
}

.content a{
    text-decoration-color: white;
    color: white;
}

.project-image {
    background-size: cover;
    position: relative;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    margin: 0px auto;
}

.snake {
    background-image: url("images/SnakeCapture.PNG");
}

.asteroid {
    background-image: url("images/AsteroidsCapture.PNG");
}

.demos {
    background-image: url("images/Demos.png");
}


.dummy {
    position:relative;
    display: block;
    margin: 0px auto;
    text-align:center;
}

@media screen and (max-width: 765px) {
    .project-image{
        width: 70%;
        padding-bottom: 70%;
    }
}


/*contact.html*/

.instagram-glyph {
    position:relative;
    background-image: url("./images/IG_Glyph_Fill_White.png");
    background-size: cover;
    background-color: #3a3a3a;
    margin: auto 0px;
    width: 40px;
    height: 40px;
    border: 2px solid #3a3a3a;
    border-radius: 30px;
}

.instagram-glyph:hover {
    background-image: url("./images/IG_Glyph_Fill_DarkGray.png");
    background-color: lightgray;
    border: 2px solid lightgray;
}

.github-glyph {
    position:relative;
    background-image: url("./images/GitHub_Mark_Light_32px.png");
    background-size: cover;
    background-color: #3a3a3a;
    margin: auto 0px;
    width: 32px;
    height: 32px;
    border: 6px solid #3a3a3a;
    border-radius: 30px;
}

.github-glyph:hover {
    background-image: url("./images/Github_Mark_32px.png");
    background-color: lightgray;
    border: 6px solid lightgray;
}



.instagram-glyph h2, .github-glyph h2{
    text-align:center;
    margin: auto 0px;
    margin-left:50px;
    text-align: center;
    line-height: 40px;
}